/* font-family:  */

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* Neutral */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
  background-color: var(--Light-grayish-blue);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  line-height: auto;
  font-weight: 600;
}

.mark-heading {
  position: relative;
  z-index: 3;
}

/* Card */

.card {
  width: 400px;
  border-radius: 8px;
  box-shadow: 40px 30px 50px -47px #48556a;
  padding: 3.2rem;
  color: var(--White);
}

.card__image {
  border-radius: 100%;
  width: 28px;
  height: 28px;
  margin-right: 1.7rem;
}

.profile {
  display: flex;
  align-items: center;
}

.name {
  margin-bottom: 0.4rem;
  margin-top: 0;
}

.status {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.5;
}

.card__paragraph {
  opacity: 0.7;
}

.card--blue {
  background-color: var(--Moderate-violet);
}

.card--blue .card__image {
  border: 2px solid var(--Light-gray);
}

.card--navy {
  background: var(--Very-dark-blackish-blue);
}

.card--navy .card__image {
  border: 2px solid var(--Moderate-violet);
}

.card--grayish {
  background: var(--Very-dark-grayish-blue);
}

.card--white {
  background: var(--White);
  color: var(--Very-dark-grayish-blue);
}

@media screen and (min-width: 1110px) {
  .card {
    width: 100%;
  }
}

/* Grids */

.grid {
  display: grid;
  gap: 2.4rem 3rem;
  height: auto;
  justify-items: center;
}

.item-1 {
  position: relative;
}

.quote-icon {
  position: absolute;
  right: 2rem;
  top: 0;
}

@media screen and (min-width: 1110px) {
  .quote-icon {
    right: 8rem;
  }
  .grid-1x2 {
    grid-template-columns: 75% auto;
    grid-template-rows: auto;
  }
  .grid-2x3 {
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .item-1 {
    grid-column: 1 / span 2;
  }

  .item-4 {
    grid-column: 2 / span 2;
  }

  .item-5 {
    height: 100%;
  }
}
